body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-decoration: none;
    font-family: Arial, serif;
    margin: auto;
}

a {
    color: #A30000;
    text-decoration: none;
}

.header, .footer{
    margin: 0;
    text-align: center;
    font-size: medium;
    align-items: center;
    color: white;
}
.header{
    background-color: #575757;
}

.footer{
    background-color: #8C8C8C;
}

.content {
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px;
    background-color: #DEDEDE;
    color: black;
}

.film {
    flex-direction: column;
    text-align: center;
    width: 15em;
}

.infosFilm{
    color: black;
    text-align: justify;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
}

.ficheActor{
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
}

.détailsFilm {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.x{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actors, .roleActor{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}
.roleActor{
    flex:3;
    justify-content: space-around;
    text-align: center;
    border-color: black;
    border-style: solid;

}
.actor {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.films {
    display: flex;
}



